<!DOCTYPE html>
<html>
<head>
  <title>KiTALL</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<%-if current_user %>
				<span class="logo">KiTALL</span>
				<%=form_tag session_path,method:"DELETE" do %>
					<%=submit_tag "logout",class:"header-items left left-space logout-link"%>
				<%end%>
				<span class="header-items left">Guide</span>
				<a href="/users/1" class="header-items left">
					<%=current_user.username%>
					<img src="1.jpg" class="profile-pic"></img>
				</a>
		<%end%>

	</div>
	<%= yield %>
</body>
</html>