%html
	%head 
		New users register here
	%body
		= form_for @user do |f|
			- if @user.errors.any?
				- @user.errors.full_messages.each do |f| 
					= f + ','
			= f.label :username
			= f.text_field :username
			
			= f.label :password
			= f.password_field :password

			= f.label :firstName
			= f.text_field :firstname
		
			= f.label :lastName
			= f.text_field :lastname

			= f.label :gender
			= f.text_field :sex

			= f.label :age
			= f.text_field :age

			= f.label :email
			= f.text_field :email

			= f.submit :submit